body {
  background-image: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));

  margin-top: 0px;
  font-family: monospace;
}

.mainContainer {
  background-color: white;
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid rebeccapurple;
  border-radius: 15px;
  padding: 15px;
  width: 60%;
  min-width: 500px;
  max-width: 1000px;


  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  box-shadow: 0 0 20px 0px black
}

.caption {
  font-size: 4em;
  font-weight: bold;
  color: rebeccapurple;
  text-align: center;
  margin: 20px;
}


.input-span {
  display: inline-block;
  position: relative;
  width: 100%;

}

.input-text {
  border: none;
  appearance: none;
  background: #f2f2f2;
  padding: 12px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid lightgrey;
  padding-left: 40px;
  font-size: 14px;
  font-family: monospace;
  box-sizing: border-box;
  width: 100%;
}

.input-text:focus{
  outline: none;
}

.input-span::before {
  content: "▶";
  position: absolute;
  color: grey;
  z-index: 999;
  font-size: 140%;
  padding: 10px;
  transform: rotate(90deg);
}

.add-button {
  position: absolute;
  right: 9px;
  top: 10px;
  background: rebeccapurple;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 0 10px -1px rebeccapurple;
  cursor: pointer;
}

ul {
  padding-left: 0px;
  margin: 0;
  margin-bottom: 20px;
}

li {
  cursor: pointer;
  list-style: none;
  position: relative;
  padding: 8px;
  background: #f2f2f2;
  border: 1px solid lightgrey;
  border-top: 0px;
  font-size: 120%;
}

.checkbox {
  margin: 3px;
  width: 20px;
  height: 20px;
  margin-right: 10px;


}

.text {
  display: inline-block;
  padding-bottom: 5px;
  height: 100%;
  position: relative;
}

li:last-child{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.checked-element {
  color: lightgrey;
  text-decoration: line-through;
}

li:hover .close-button {
    visibility: visible;
}

.close-button {
  visibility: hidden;
  position: absolute;
  right: 5px;
  background: none;
  border: none;
  font-size: 100%;
  cursor: pointer;
  top: 50%;
  transform: translate(0%, -50%);
  background: rebeccapurple;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px -1px rebeccapurple;
}

.close-button:focus{
  outline: none;
}

.hiden {
  display: none;
}

.controls {
  position:relative;
  height: 10px;
}

.controls button {
  background: rgba(102, 51, 153, 0.5);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px -1px rebeccapurple;
  margin: 2px;
  cursor: pointer;
}

.items-counter {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translate(0%, -50%);
}

.visibility-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.remove-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0%, -50%);
}

.credits {
  position: relative;
  text-align: center;
  color: lightgrey;
  margin: 20px;
}

.autor-name {
  color: rebeccapurple;

}
